@use "sass:color";
@use "base";

figure {
    margin: 0;
}

p {
    margin: 0;
}

footer {
    font-family: $font-footer;
    color: $footer-text;
}

.header {
    margin-bottom: $size-96;
}

.person {
    position: relative;

    &__role {
        position: absolute;
        rotate: 90deg;
    }

}

.footer {
    padding-top: $size-96;
    text-align: center;
    margin-bottom: $size-10;
}